<% provide(:title, "About Us") %>
<div id="about_us">
  <div class="row-fluid">
    <!-- Who we are box. -->
    <div class="span6">
      <h2>Who We Are</h2>
      <p>American Financial Services Group (&#8220;AMFSG&#8221;), with its roots stemming back to 1959, is a corporate financial advisement firm headquartered on Park Avenue in New York City. It is also in the business of establishing individuals to go into business for themselves, starting with a comprehensive training program.</p>
      <p>Between 1992 and 1997, AMFSG has trained more than 275 independent financial advisors in the US and Canada to advise and assist businesses in raising capital. These IFA&#8217;s are in business for themselves and do not report their income or business practices to AMFSG.</p>
      <p>Nor does AMFSG ever question them.<br />
    </div>
   <!-- About us video. -->
    <div class="span6">
      <%= video_player({image: "/assets/Screenshot-about.flv.part-1.png", :file => "/assets/about.flv", autostart: false, :message => "Get the Adobe Flash Player to see this video.", skin: "glow", controlbar: "none",stretching: "exactfit"}) %>
    </div>
  </div>
  <!-- Harry Abrams box -->
  <div class="row-fluid">
    <div class="span6 about_harry">
      <h2>Harry Abrams</h2>
      <h6>Senior Partner of AMFSG</h6>
      <p>Harry Abrams has a <%= image_tag('book2.png', alt: "For the Entrepreneur:  Raising Money") %>background in law, accounting, finance and securities; he has been CEO of many public and private companies since 1959.</p>
      <p>He is currently a principal in various companies engaged in accounting, insurance, real estate, tax preparation and payroll administration.</p>
      <p>He is author of the book <span style="text-decoration: underline;">For the Entrepreneur: Raising Money</span>.</p>
    </div>
    <!-- AMFSG services provided. -->
    <div class="span6 amfsg_provides">
      <h2>AMFSG Provides:</h2>
      <ul>
        <li>establishing individuals to go into business for themselves as independent financial advisors (&#8220;IFAs&#8221;),</li>
        <li>comprehensive training.</li>
        <li>continuous backup and ongoing support to its IFAs free of charge, and</li>
        <li>products and services of AMFSG&#8217;s subsidiaries, which may be engaged to the extent requested.</li>
      </ul>
      <p>Optionally, you may use the offices and conference room facilities of the Regus Group for your meetings. Regus has over 1,000 locations in 48 countries and 500 cities worldwide.</p>
    </div>
  </div>
</div>