<% provide(:tile, "Fees") %>
<div id="fees">
  <div class="row-fluid">
    <div class="span12">
      <h1>Fees</h1>
      <p>To be set up in your own turn-key business as an Independent Financial Advisor, including initial training given over a two-day weekend program, the one-time cost is $3,500 with the following payment options:</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <b>1) Convenient installments:</b>
      <p></p>
      <ul>
        <li>$1,500 prior to training.</li>
        <li>$1,000 thirty days after completion of training.</li>
        <li>$1,000 60 days after completion of training.</li>
      </ul>
    </div>
    <div class="span4">
      <b>2) Full payment in Advanced:</b>
      <p></p>
      <div class="payment_in_advance">
        <p>Full payment in advanced entitles you to a 10% ($350) discount.</p>
        <p>In addition, there is a $300 discount for trainees from outside the tri-state area for travel and hotel expenses provided the full training fees are paid in advance.</p>
      </div>
    </div>
  </div>
</div>