<div class= "container">
  <div class="row-fluid tag_video">
      <div class="span4">
        <div class="logo">
          <%= link_to image_tag('logo3.png'), root_path, alt: "AMERICAN FINANCIAL SERVICES GROUP", title: "Unique opportunity to Raise Business Capital" %>
          <p class="description">AMERICAN FINANCIAL SERVICES GROUP</p>
          <h2 class= "tagline">A unique opportunity<br /> to raise business </br>capital.</h2>
          <div><a href="services" class="morelink">more</a></div>
        </div>
      </div>
      <div class="span8 video">
        <%= video_player({image: "/assets/screen_shot.png", :file => "/assets/welcome.flv", autostart: false, height: 337, :message => "Get the Adobe Flash Player to see this video.", skin: "glow", controlbar: "none"}) %>
      </div>
    </div>
  <div class="row-fluid">
    <div class="span12 four_block_bar">
      <ul class="extra">
        <li class="cat_post_item-1 clearfix">
          <div></div>
          <div class="post_content">Looking for a business opportunity?</div>
        </li>
        <li class="cat_post_item-2 clearfix">
          <div></div>
          <div class="post_content">
             Want to go into a turn-key business for yourself?
          </div>
        </li>
        <li class="cat_post_item-3 clearfix">
          <div></div>
          <div class="post_content">
            Do you dream about the potential for unlimited income?              
          </div>
        </li>
        <li class="cat_post_item-4 clearfix">
          <div></div>
          <div class="post_content">
            Do you want to begin working for yourself immediately?                
          </div>
        </li>
    </ul>
  </div>
 </div>
 <div class="row-fluid double_text">
  <div class="span4 text_left">
    Become an independent, corporate financial advisor (“IFA”). As an IFA, you can operate your own business with the incredible potential for immediate and unlimited income.
  </div>  
  <div class="span8 text_right">
    <table>
    <td>If you've got ambition, perseverance, and <br>the entrepreneurial spirit - you're in!<br>No prior experience required! </td>
  </table>
  </div>
  <div class="banner"></div></div>
  <div class="row-fluid new_regulation primary_content_wrap">
    <div class="span8 left_side">
      <h1>Join the new wave in raising capital</h1>
      <p>Let’s face it, in the current environment, it is difficult for you or any small business to borrow money, be it from a friend, family or bank. However, newly enacted legislation is designed to encourage economic growth is expanding the ability of entrepreneurs and small businesses to raise capital by:</p>
      <ul>
        <li>permitting online advertising,</li>
        <li>encouraging the private sector to invest and</li>
        <li>expanding the pool of potential investors.</li>
       </ul>
    </div>
    <div class="span4 obama">
      <%= image_tag('obama.jpg', alt: "Obama", title: "Obama") %>
      <div class= "obama-text">
        President Obama signed game-changing legislation, greatly expanding the ability of startups and small businesses to raise capital.
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
