<div id="home_page">
  <div class="row-fluid">
    <!-- Colored boxes -->
    <div class="span12 four_block_bar">
      <ul class="extra">
        <li class="cat_post_item-1">
          <div class="post_content">Looking for a business opportunity?</div>
        </li>
        <li class="cat_post_item-2">
          <div class="post_content">
            Want to go into a turn-key business for yourself?
          </div>
        </li>
        <li class="cat_post_item-3">
          <div class="post_content">
            Do you dream about the potential for unlimited income?              
        </div>
        </li>
        <li class="cat_post_item-4">
          <div class="post_content">
            Do you want to begin working for yourself immediately?                
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- 2 Boxes underneath colored boxed row -->
  <div class="row-fluid double_text">
    <div class="span5 text_left">
        Become an independent, corporate financial advisor (“IFA”). As an IFA, you can operate your own business with the incredible potential for immediate and unlimited income or
      allow AMFSG to assist you raise capital for your own business and those of your clients.
    </div>
    <!-- Box on the right is a table in order to vertically align. -->
    <div class="span7 text_right">
    <div class="text">If you've got ambition, perseverance, <br />and the entrepreneurial spirit - <br />you're in!  No prior experience required! </div>
    </div>
  </div>
  <!-- 4 colored divider -->
  <div class="banner"></div>
  <!-- New regulation row -->
  <div class="row-fluid new_regulation">
    <div class="span7 left_side">
      <h1>Join the new wave in raising capital</h1>
      <p>Let’s face it, in the current environment, it is difficult for you or any small business to borrow money, be it from a friend, family or bank. However, newly enacted legislation is designed to encourage economic growth is expanding the ability of entrepreneurs and small businesses to raise capital by:</p>
      <ul>
        <li>Permitting online advertising.</li>
        <li>Encouraging the private sector to invest.</li>
        <li>Expanding the pool of potential investors.</li>
      </ul>
    </div>
    <div class="span4 obama">
      <%= image_tag('obama.jpg', alt: "Obama", title: "Obama") %>
      <div class= "obama-text">
        President Obama signed game-changing legislation, greatly expanding the ability of startups and small businesses to raise capital.
      </div>
    </div>
  </div>
</div>
