<%=provide(:title, "Services") %>
<div id="services">
  <div class="row-fluid">
    <div class="span12">
      <h1>AMFSG SERVICES</h1>
      <p>There are investors for every type of business.  In that regard, AMFSG maintains a network of over 10,000 venture capitalists, private equity investors and FINRA registered companies to assist you and/or your clients.  Selling interests (equity) in a business provides one way of raising money.</p>
      <p>Ordinarily, it can cost between $250,000 to $1,000,000 (and more) to prepare and file what is known as an initial public offering (“IPO”) with Federal and State regulatory agencies in order to sell equity.  Most small businesses cannot afford that expense (to say nothing of the time involved).  What you learn through AMFSG’s training program will enable you to raise capital for your business and/or advising your clients on how to raise capital for their businesses without incurring the staggering cost of an IPO.  You and/or your clients will also benefit from the fact that monies raised are free of taxes.</p>
     </div>
  </div>
  <div class="banner"></div>
  <div class="row-fluid">
    <div class="span6">
      <p>It is easy to find business that need money.  What business doesn't need money?
      </p>
      <h6>AMFSG will teach you to:</h6>
      <ul>
        <li>Know your role as an IFA.</li>
        <li>Be knowledgeable about how capital can be raised.</li>
        <li>Recognize the different types of companies that you and/or your clients can create.</li>
        <li>Identify sources of funding.</li>
        <li>Advertising.</li>
        <li>Navigate the laws and regulations governing raising of capital.</li>
      </ul>
    </div>
    <div class="span6">
      <p>In addition, you will always be able to receive supplemental training and AMFSG’s backup services at no additional cost.  And, you are free to engage any and all of AMFSG’s subsidiaries to provide various products and services for you or your clients.</p>
      <h6>Those services include:</h6>
      <ul>
        <li>Accounting</li>
        <li>Insurance</li>
        <li>Real Estate</li>
        <li>Tax Preparation</li>
        <li>Payroll Administration</li>
      </ul>
    </div>
  </div>
</div>



