<% provide(:title, "Contact Us") %>
<div id="contact_us">
  <div class="row-fluid">
    <div class="span4">
      <div class="span12">
        <h2>Contact Us</h2>
        <div class="contact_video">
          <%= video_player({image: "/assets/contact.png", :file => "/assets/contact.flv", autostart: false, height: 337, width: 300, :message => "Get the Adobe Flash Player to see this video.", skin: "glow", controlbar: "none", stretching: "exactfit"}) %>
        </div>
        <div class='inactive_message'></div>
      </div>
      <div class="span12">
        <%= render 'form'%>
      </div>
    </div>
    <div class="span8">
      <div class="span12">
        <h2>Our Location</h2>
        <div class="map">
          <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=60+E+42nd+St,+New+York,+10017&amp;aq=&amp;sll=40.07304,-74.724323&amp;sspn=3.993043,10.821533&amp;ie=UTF8&amp;geocode=FfHTbQIduSyX-w&amp;split=0&amp;hq=&amp;hnear=60+E+42nd+St,+New+York,+10017&amp;t=m&amp;z=14&amp;ll=40.752113,-73.978695&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="445"></iframe>
        </div>
      </div>
      <div class="span12 contact_info">
        <h2>Contact Information</h2>
        <h6>60 East 42nd Street, 40th Floor, New York, NY 10165</h6>
        <p><b>Telephone:</b> +1 212 286 1100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FAX:</b> +1 212 286 8264<br /><b>E-mail:</b> <%= mail_to('info@raisebusinessmoney.com', 'info@raisebusinessmoney.com') %>
      </div>
      </div>
    </div>
  </div>
</div>
