<div class= "four_box_bar">
  <div class="container"
    <div class="row-fluid">
      <div class="span12">
        <ul class="extra">
          <li class="cat_post_item-1 clearfix">
            <div></div>
            <div class="post_content">Looking for a business opportunity?</div>
          </li>
          <li class="cat_post_item-2 clearfix">
            <div></div>
            <div class="post_content">
              Want to go into a turn-key business for yourself?
            </div>
          </li>
          <li class="cat_post_item-3 clearfix">
            <div></div>
            <div class="post_content">
              Do you dream about the potential for unlimited income?              
            </div>
          </li>
          <li class="cat_post_item-4 clearfix">
            <div></div>
            <div class="post_content">
              Do you want to begin working for yourself immediately?                
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>