<div class="row-fluid scrolling_quote">
  <div class="span12">
    <div class="titlebox">       Testimonials      </div>
    <div class="quotes">"AMFSG helped me fund and open my own automotive repair business and continues to assist me whenever needed."
      <br />
      <div class="source">
        -Mark W., MLB Automotive, Inc.
      </div>
    </div>
    <div class="quotes">"AMFSG training helped me fund and start my own Insurance Brokerage business."<br />
      <div class="source">
        -Marion W., Joseph Irving & Company, Inc.
      </div>
    </div>
    <div class="quotes">"AMFSG trained and helped me start my own financial services business.  I speak to AMFSG almost every day to get their never ending support."<br />
      <div class="source">
        -Samar B., MADE Capital, Inc.
      </div>
    </div>
    <div class="quotes">"AMFSG is always available as a back-office support center for its trained group of self-employed Independent Financial Advisers."<br />
      <div class="source">
        -Gladys S., HA Capital Group
      </div>
    </div>
    <div class="quotes">"AMFSG provided me with extraordinary and continual support in running my automotive sales business."<br />
      <div class="source">
        -Joseph D, NRJ, Inc.
      </div>
    </div>
  </div>
</div>